<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@felipesere">
<meta name="twitter:creator" content="@felipesere">
{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
{% else %}
  <meta name="twitter:title" content="{{ site.title }}">
{% endif %}

<meta name="twitter:url" content="{{page.url | prepend: site.url }}">

{% if page.excerpt %}
  <meta name="twitter:description" content="{{ page.excerpt | strip_html | xml_escape | truncate: 150 }}">
{% else %}
  <meta name="twitter:description" content="{{ site.description }}">
{% endif %}
{% if page.image %}
  <meta name="twitter:image" content="{{ site.url }}/{{ page.image }}">
{% else %}
  <meta name="twitter:image" content="{{ site.url }}/images/profile.jpg">
{% endif %}
